.debug-style{
    border: 1px solid black;
}

body{
    background-color: #fff6e6;
}

.navbar .navbar-nav{
    width: 100%;
    text-align: center;
}

#center-brand{
    float: none;
    display: inline-block;
    border: 1px solid black;
}

#nav-bars{
    border: 1px solid black;
}

.navbar-simple{
    position: relative;
    text-align: center;
    /*background-color: orange;*/
    background-color: #F4A261;
}

.navbar-simple div{
    display: inline-block;
}

.navbar-simple .navbar-simple-brand{
    font-family: 'Molle', cursive;
    font-size: 50px;
    /*color: darkorange;*/
    /*color: #F4A261;*/
    color: #2A9D8F;

    /*
    text-shadow:
    -2px -2px 0 orangered,  
    2px -2px 0 orangered,
    -2px 2px 0 orangered,
        2px 2px 0 orangered;*/
    /*-webkit-text-stroke: 4px #2A9D8F;*/
    /*
    text-shadow: 
    -4px -4px 0 #2A9D8F,
    4px -4px 0 #2A9D8F,
    -4px 4px 0 #2A9D8F,
    4px 4px 0 #2A9D8F;*/
}

.navbar-simple .navbar-simple-bars{
    position: absolute;
    left: 10px;
    padding-left: 20px;
    font-size: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: orangered;
}

.navbar-simple-bars > a{
    /*color: #E76F51;*/
    color: #2A9D8F;
}

.navbar-simple-bars > a:hover{
    /*color: #A53214;*/
    color: #264653;
}

.like{
    color: green;
    text-shadow: 
    0px 0px 0 black,
    -1px -1px 0 black,
    0px 0px 0 black,
    0px 0px 0 black;
}

.dislike{
    color: darkred;
    text-shadow: 
    0px 0px 0 black,
    -1px -1px 0 black,
    0px 0px 0 black,
    0px 0px 0 black;
}

.center-block{
    position: relative;
    margin: 10px auto;
    max-width: 500px;
    padding: 10px;
}

.center-block-portfolio{
    max-width: 350px;
}

.portfolio-container{
    display: inline-block;
    position: relative;
    background-color: #F4A261;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.portfolio-container-overlay{
    display: inline-block;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    right: 2.5%;
    bottom: 2.5%;
    background-color: #F4A261;
    width: 95.5%;
    height: 95%;
    border-radius: 5px;
    
}

.portfolio{
    padding: 20px;
}

.portfolio > img{
    width: 100%;
    height: auto;
    margin: 0px auto;
}

.app-buttons-interface{
    text-align: center;
}

/* Handheld */
.button-interface{
    display: inline-block;
    margin: 0px 10%;
    border: 1px solid #F4A261;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 8px 2px;
    background-color: #F4A261;
}

/* Handheld */
.button-interface a{
    /*font-size: 80px;*/
    font-size: 60px;
    margin: 0px auto;
}

/* Tablet */
@media only screen and (min-device-width: 768px){
    .button-interface{
        width: 120px;
        height: 120px;
    }

    .button-interface a{
        font-size: 80px;
    }
}